/* Login */
.Login {
  height: 100vh;
}
.Login h2.title, .Register h2.title {
  margin:  0 0 16px 0px;
  text-align: center;
}
.loginForm form {
  float : left;
  min-height: 100%;
  text-align: center;
  width: 60%;
}
.loginForm .advert {
  float : right;
  width: 40%;
  height: 100vh;
  background-image: url('./images/help_1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.loginForm input {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid black;
  width: 40%;
}
.loginForm .loginEmail input {
  margin: 100px 0 20px 0;
  width: 40%;
}
.loginForm .loginButton Button{
  width: 25%;
  margin: 10px 0;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: green;
}

/* Register */

.Register .registerForm{
  text-align: center;
  margin-top: 30px;
}
.Register .regfullName input, .regTel input, .regEmail input, .regPassword input, .regConfirmPassword input {
  border: 1px solid black;
  height: 33px;
  border-radius: 5px;
  margin: 8px 0;
  width: 20%;
}
.Register button{
  width: 20%;
  border-radius: 5px;
  border: none;
  background-color: forestgreen;
  height: 30px;;
}
/* dashboard */